<%= form_with(model: user, class: "contents") do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div id='actions_form_phone_btn' class="my-5">
    <%= link_to  "+", add_form_phone_path(qtd: 0), data: { turbo_method: :put }, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to  "-", remove_form_phone_path(qtd: 0), data: { turbo_method: :put }, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>

  <div id="form_phone">
    <%= form.fields_for :phones do |phone_form| %>
      <div class="my-5">
        <%= phone_form.label :number %>
        <%= phone_form.text_field :number, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
    <% end %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
